@import "nprogress/nprogress.css";

#nprogress {
  position: fixed;
  background-color: rgb(49 47 47 / 65%);
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 3;

  .spinner {
    top: calc(50% - 50px);
    left: calc(50% - 50px);
    width: 100px;
    height: 100px;

    .spinner-icon {
      width: 100%;
      height: 100%;
    }
  }
}

body:has(#nprogress) {
  pointer-events: none;
  overflow: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
}
